
<!--<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="modal" tabindex="-1" role="dialog" id="details">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Successful Registeration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You Registered Succefully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Save changes</button>*-->
               @* @Html.ActionLink("Save", "Index", "Home", null, new { @class = "btn btn-primary" })*@
            <!--</div>
        </div>
    </div>
</div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>-->
        @*var z =@Model.Id;
        $("#save").click(function () {

        
            $.ajax({
                url: "/account/register/" + z,
                method: "Get",
                dataType: "json",
                success: function () {
                    $("#details").modal({ show: true })
                }
            })
        }*@
    <!--</script>

}-->
